html {
  background-color: black;
  margin: 0;
  height: 100%;
}

:root {
  --color1: teal;
  --color2: rgb(109, 91, 80);
  --color3: rgb(149, 209, 184);
}

body {
  height: 100%;
}



.headWrapper {
  display: grid;
  grid-template-areas: "title button";
  grid-template-columns: 1fr 100px;
  margin: 0 auto;
  background: linear-gradient(120deg, var(--color3) calc(50% - 130px), rgba(0,0,0,0) calc(50% - 130px)), linear-gradient(70deg, var(--color1) calc(50% - 140px), var(--color2) calc(50% - 170px));
}

.headWrapper h1.header {
  grid-area: "title";
  margin: auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  grid-column: 1;
  color: var(--color1);
  text-shadow: -2px 2px black;
}

.headWrapper button.Customize {
    grid-area: "button";
    place-items: center end;
    background-color: var(--color1);
    box-shadow: 0 5px var(--color3);
    border: 1px solid var(--color1);
    color: var(--color3);
    margin: 8px auto 12px;
    border-radius: 5px;
}
.headWrapper button.Customize:active {
  transform: translateY(3px);
  transition: 30ms;
  box-shadow: 0 2px;
}
    .dropdown {
      display: none;
      position: fixed;
      right: 0;
      z-index: 2;
      color: var(--color3);
    }
    .dropdown form {
      display: grid;
      grid-template-areas: "name color";
      text-align: right;
      background-color: var(--color2);
    }
        .dropdown form div {
          padding: 10px;
          border-top: 2px solid var(--color1);
        }
        .dropdown form input {
          padding: 8px;
          height: 100%;
          border: 0;
          border-bottom: 2px solid var(--color2);
          background-color: var(--color1);
          grid-area: "color";
        }
    .dropdown button.default {
      position: absolute;
      right: 0;
      background-color: transparent;
      color: var(--color3);
      text-align: center;
      width: 50px;
      border: none;
      padding: 0;
    }



.gameWrapper {
    background: var(--color1);
    overflow: hidden;
    position: absolute;
    top: 39px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

.gameWrapper .frontMountain {
  position: absolute;
  bottom: 0px; left: 0px;
  height: 0;
  width: 0;
  z-index: 6;
}

.gameWrapper .rearMountain {
  position: absolute;
  bottom: 0px; right: 0px;
  height: 0;
  width: 0;
  z-index: 1;
}

.gameWrapper button {
    position: absolute;
    bottom: 30%;
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    border: 0px;
    color: var(--color2);
    border-radius: 5px;
    z-index: 7;
}
    .gameWrapper button.reset {
      display:none;
      bottom: 10px;
      right: 30px;
    }

.gameWrapper .gameWindow {
  overflow: hidden;
  position:absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  padding: 5px;
}